<div class="m-4">
  <div class="container">
    <div class="card">
      <div class="card-header text-center">
        <h1>Settings</h1>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary container-fluid " (click)="btnCreateDatabase_click()">Create database</button>
        <div class="m-4"></div>
        <button type="button" class="btn btn-danger container-fluid" (click)="btnClearDatabase_click()">Clear database</button>
      </div>
    </div>
  </div>
</div>
