<div class="card-header text-center">
  <h1 class="card-title">Welcome to my Compoudning App</h1>
</div>
<br>
<div class="card-body text-center">
  <p class="card-text">Welcome to our compounding application,
    an essential tool for pharmacy professionals and anyone interested in personalized
    medication. Our app offers a user-friendly interface that allows you to easily calculate the ratio
    of medication to filler for compounded prescriptions. You can choose the best filler for your patients
    based on their specific needs, including lactose allergies. Additionally, our app includes native Android camera functionality,
    making it easy to capture images of your compounded preparations for documentation and sharing. With our app, you can save time,
    streamline your workflow, and provide high-quality, personalized medication to your patients.
  </p> <br>
  <img src="../../assets/compounding.jpg" height="650" width="750" style="display:block; margin:auto;"/>
</div>
